@charset "UTF-8";
:root {
  --font-family: "Inter", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --color-primario: hsl(210, 29%, 29%);
  --color-secundario: hsl(204, 70%, 53%);
  --color-terciario: hsl(167, 40%, 55%);
  --color-primario-semi-dark: hsl(210, 30%, 24%);
  --color-primario-dark: hsl(210, 30%, 20%);
  --color-secundario-light: hsl(204, 70%, 63%);
  --color-terciario-extra-light: hsl(166, 40%, 85%);
  --color-terciario-light: hsl(167, 40%, 65%);
  --color-terciario-semi-dark: hsl(167, 40%, 50%);
  --color-terciario-dark: hsl(167, 40%, 45%);
  --color-background: #f5f7fa;
  --color-font: #000000;
  --color-white: #ffffff;
  --color-star: gold;
  --height-header: 90px;
  --height-nav-item: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-font);
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  border-bottom: 1px solid var(--color-white);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button.button-action,
a.button-link {
  cursor: pointer;
  background-color: var(--color-primario);
  color: var(--color-white);
  font-size: 1.25rem;
  line-height: 1.25rem;
  width: 100%;
  height: 40px;
  padding: 0 2rem;
  border: none;
  border-radius: 20px;
  transition: color 0.5s;
}

a.button-link {
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

button.button-action:hover,
a.button-link:hover {
  background-color: var(--color-terciario);
}

#btn-ir-arriba {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  background-color: var(--color-secundario);
  box-shadow: 0px 12px 7px rgba(0, 0, 0, 0.25);
  transition: 100ms ease;
}

#btn-ir-arriba:hover {
  background-color: var(--color-terciario);
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  stroke: var(--color-white);
  stroke-width: 3px;
  width: 25px;
  fill: none;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-column {
  display: flex;
  flex-direction: column;
}

.fx-content-space-between {
  justify-content: space-between;
}

.fx-content-center {
  justify-content: center;
}

.fx-align-items-center {
  align-items: center;
}

.text-small {
  font-size: 0.85rem;
}

main {
  padding-top: 90px;
}

section {
  scroll-margin-top: 90px;
  padding: 45px 90px;
}

section#catálogo {
  background: linear-gradient(to bottom right, hsl(167, 40%, 60%), hsl(204, 70%, 80%));
}

section#ubicacion {
  padding: 0;
}

header {
  background: var(--color-white);
  position: fixed;
  width: 100%;
  height: var(--height-header);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  /* Mantener header en la primera capa, encima del resto de componentes */
  z-index: 1;
}

#logo,
#contacto-icono {
  height: var(--height-nav-item);
  width: auto;
  margin: 15px;
}

#logo,
#contacto-icono > img {
  width: auto;
  padding: 5px;
}

nav {
  height: 60px;
  font-size: 1.25rem;
}

nav ul {
  list-style: none;
  margin-bottom: 0;
}

nav li {
  padding: 1rem 2rem;
}

nav a {
  text-decoration: none;
  color: var(--color-secundario);
  font-weight: 600;
}

nav li:hover,
#contacto-icono:hover {
  background-color: var(--color-background);
  border-radius: 8px;
}

footer {
  height: fit-content;
  padding-top: 10px;
  background: var(--color-secundario);
  color: var(--color-white);
}

#contacto-form {
  width: 500px;
  max-width: 100%;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 5px;
  border: 3px solid var(--color-background);
  border-radius: 5px;
}

.redes-sociales-container {
  gap: 2rem;
  padding: 1rem 2rem;
}

.fa-brands {
  font-size: 2.5rem;
  color: var(--color-primario);
}

.fa-brands:hover {
  color: var(--color-background);
}

.fa-brands:active {
  color: hsl(210, 29%, 50%);
}

.copyright {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 40px 70px;
  }
  .destacados-container {
    padding: 0;
    gap: 45px;
  }
  .card {
    padding: 1.5rem;
    margin: 1.5rem;
  }
  .galeria-img {
    max-width: 350px;
    padding: 1rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 13px;
  }
  section {
    padding: 40px 50px;
  }
  section > h1 {
    font-size: 1.5rem;
  }
  nav {
    font-size: 1.125rem;
  }
  .destacados-container {
    gap: 20px;
  }
  .card {
    padding: 0.9rem;
    margin: 0.9rem;
  }
  .galeria-img {
    max-width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  section {
    padding: 40px 45px;
  }
  .xs-hide {
    display: none;
  }
  .fx-xs-column {
    display: flex;
    flex-direction: column;
  }
  .card {
    padding: 40px;
    margin: 20px 0;
  }
  .galeria-img {
    max-width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  button.button-action,
  a.button-link {
    font-size: 1rem;
  }
}
#home {
  background: url("/img/home.jpg") no-repeat center center fixed;
  background-size: cover;
  color: var(--color-white);
  height: 100vh;
}

.home-banner {
  gap: 1rem;
  background-color: hsl(210, 29%, 15%);
  opacity: 0.9;
  padding: 3rem;
  text-align: center;
}

.destacados-container {
  padding: 0 90px;
  gap: 90px;
}

.destacado-info {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background: var(--color-white);
  box-shadow: 0 10px 8px rgba(95, 186, 167, 0.15);
  border-radius: 5px;
}

.destacado-info img {
  max-width: 100%;
}

.destacado-info h3,
.destacado-info p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.star-rating {
  color: var(--color-star);
  font-size: 1.5rem;
}

.clientes-comentarios {
  flex: 1;
  gap: 1.5rem;
}

.comentario {
  gap: 10px;
  padding: 15px;
  background-color: hsl(167, 40%, 85%);
  border-radius: 15px;
}

.cliente img {
  width: 60px;
  border-radius: 50%;
}

.cliente-msg {
  flex: 1;
}

.cliente-firma {
  font-style: italic;
  font-weight: bold;
  margin-top: 0.5rem;
}

.card {
  position: relative;
  padding: 20px;
  margin: 20px;
  background: var(--color-background);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  border-radius: 3px;
}

.card h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card p {
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-1rem);
}

.galeria-container {
  flex-flow: wrap;
}

.galeria-img {
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.galeria-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.galeria-overlay-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.mapa-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.mapa-container iframe {
  width: 100%;
  height: calc(100vh - 90px);
  border: 0;
}

.mapa-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  color: var(--color-font);
  font-size: 1rem;
}

.direccion {
  background-color: var(--color-background);
  padding: 2rem;
  gap: 1rem;
}

.direccion h3 {
  color: var(--color-primario);
  text-transform: uppercase;
}

.direccion p {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
