:root {
	--font-family: 'Inter', sans-serif;
	--font-size: 16px;
	--font-weight: 400;

	--color-primario: hsl(210, 29%, 29%);
	--color-secundario: hsl(204, 70%, 53%);
	--color-terciario: hsl(167, 40%, 55%);

	--color-primario-semi-dark: hsl(210, 30%, 24%);
	--color-primario-dark: hsl(210, 30%, 20%);

	--color-secundario-light: hsl(204, 70%, 63%);

	--color-terciario-extra-light: hsl(166, 40%, 85%);
	--color-terciario-light: hsl(167, 40%, 65%);
	--color-terciario-semi-dark: hsl(167, 40%, 50%);
	--color-terciario-dark: hsl(167, 40%, 45%);

	--color-background: #f5f7fa;
	--color-font: #000000;
	--color-white: #ffffff;
	--color-star: gold;

	--height-header: 90px;
	--height-nav-item: 60px;
}
