.destacados-container {
	padding: 0 90px;
	gap: 90px;
}

.destacado-info {
	flex: 1;
	text-align: center;
	padding: 2rem;
	background: var(--color-white);
	box-shadow: 0 10px 8px rgba(95, 186, 167, 0.15);
	border-radius: 5px;
}

.destacado-info img {
	max-width: 100%;
}

.destacado-info h3,
.destacado-info p {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.star-rating {
	color: var(--color-star);
	font-size: 1.5rem;
}

.clientes-comentarios {
	flex: 1;
	gap: 1.5rem;
}

.comentario {
	gap: 10px;
	padding: 15px;
	background-color: hsl(167, 40%, 85%);
	border-radius: 15px;
}

.cliente img {
	width: 60px;
	border-radius: 50%;
}

.cliente-msg {
	flex: 1;
}

.cliente-firma {
	font-style: italic;
	font-weight: bold;
	margin-top: 0.5rem;
}
