main {
	padding-top: 90px;
}

section {
	scroll-margin-top: 90px;
	padding: 45px 90px;
}

section#catálogo {
	background: linear-gradient(
		to bottom right,
		hsl(167, 40%, 60%),
		hsl(204, 70%, 80%)
	);
}

section#ubicacion {
	padding: 0;
}

#home {
	background: url('/img/home.jpg') no-repeat center center fixed;
	background-size: cover;

	color: var(--color-white);

	height: 100vh;
}

.home-banner {
	gap: 1rem;

	background-color: hsl(210, 29%, 15%);
	opacity: 0.9;
	padding: 3rem;

	text-align: center;
}

.destacados-container {
	padding: 0 90px;
	gap: 90px;
}

.destacado-info {
	flex: 1;
	text-align: center;
	padding: 2rem;
	background: var(--color-white);
	box-shadow: 0 10px 8px rgba(95, 186, 167, 0.15);
	border-radius: 5px;
}

.destacado-info img {
	max-width: 100%;
}

.destacado-info h3,
.destacado-info p {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.star-rating {
	color: var(--color-star);
	font-size: 1.5rem;
}

.clientes-comentarios {
	flex: 1;
	gap: 1.5rem;
}

.comentario {
	gap: 10px;
	padding: 15px;
	background-color: hsl(167, 40%, 85%);
	border-radius: 15px;
}

.cliente img {
	width: 60px;
	border-radius: 50%;
}

.cliente-msg {
	flex: 1;
}

.cliente-firma {
	font-style: italic;
	font-weight: bold;
	margin-top: 0.5rem;
}

.card {
	position: relative;
	padding: 20px;
	margin: 20px;
	background: var(--color-background);
	box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
}

.card img {
	width: 100%;
	border-radius: 3px;
}

.card h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.card p {
	margin-bottom: 1rem;
}

.card:hover {
	transform: translateY(-1rem);
}

.galeria-container {
	flex-flow: wrap;
}
.galeria-img {
	max-width: 400px;
	padding: 1rem;
	margin: 1rem;
	cursor: pointer;
	object-fit: cover;
}

.galeria-overlay {
	display: none;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
}

.galeria-overlay-img {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
}

.mapa-container {
	position: relative;
	width: 100%;
	height: calc(100vh - 90px);
	overflow: hidden;
}

.mapa-container iframe {
	width: 100%;
	height: calc(100vh - 90px);
	border: 0;
}

.mapa-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 2rem;
	color: var(--color-font);
	font-size: 1rem;
}

.direccion {
	background-color: var(--color-background);
	padding: 2rem;
	gap: 1rem;
}

.direccion h3 {
	color: var(--color-primario);
	text-transform: uppercase;
}

.direccion p {
	margin-bottom: 0;
}
